page-order {
  $background_style: #dfb7b5;

  @mixin img-size($width, $height) {
    height: $height;
    width: $width;
  }

  %p-style {
    font-size: 24px;
    margin: 0;
  }

  %lol {
    padding: 15px;
  }

  ion-img {
    background: inherit;
  }

  .container {
    margin: 0 auto;
    max-width: 1140px;
    min-width: 320px;
  }

  ion-content {
    ion-grid {
      ion-row {
        ion-col {
          ion-grid {
            &.product-description-grid {
              p {
                margin: 0;
              }
              ion-row {
                ion-col {
                  .discount-text {
                    line-height: 30px;
                    font: {
                      size: 30px;
                    }
                  }
                  .product-description {
                    font-size: 32px;
                  }
                  ion-img {
                    &.coupon-img {
                      @include img-size(90px, 90px);
                    }
                    @media (max-width: 991px) {
                      &.coupon-img {
                        display: none;
                      }
                    }
                  }
                }
                &.color-bars {
                  font-size: 22px;
                  font-style: italic;
                  line-height: 22px;
                  ion-col {
                    margin: 8px 0;
                    color: #fff;
                    &.colored {
                      background-color: $background_style;
                    }
                    &.black {
                      background-color: #272727;
                    }
                    &.colored,
                    &.black {
                      p {
                        margin: 12px;
                      }
                    }
                  }
                }
                @media (max-width: 991px) {
                  &.color-bars {
                    display: none;
                  }
                }
              }
            }
            &.slider-header-grid {
              ion-row {
                &.delivery-section {
                  ion-col {
                    .delivery-info {
                      p {
                        @extend %p-style;
                      }
                    }
                    ion-img {
                      &.delivery-img {
                        @include img-size(99px, 80px);
                      }
                    }
                  }
                  &.form-navigation {
                    border: 2px solid #ddd;
                    ion-col {
                      ion-row {
                        &.orange-image {
                        }
                      }
                    }
                  }
                }
                @media (max-width: 991px) {
                  &.delivery-section {
                    display: none;
                  }
                }
                ion-col {
                  p {
                    @extend %p-style;
                    &.form-header {
                      color: #fff;
                      background-color: $background_style;
                      padding: 15px 5px 25px 5px;
                    }
                  }
                }
              }
            }
            &.order-form-grid {
              ion-row {
                &.form-border {
                  border: 2px solid #ddd;
                  ion-col {
                    ion-slides {
                      ion-slide {
                        ion-row {
                          p {
                            &.privacy {
                              font-size: 12px;
                              color: #9c9c9c;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            &.slider-footer-grid {
              ion-row {
                ion-col {
                  p {
                    @extend %p-style;
                  }
                  &.header {
                    p {
                      background-color: #6ac8b3;
                      font-weight: 700;
                      padding: 10px;
                      color: #2f2f2f;
                    }
                  }
                }
                &.secure {
                  margin-top: 10px;
                  p {
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }
    ion-row {
      &.footer-row {
        background-color: #303030;
        color: #fff;
        font-size: 13px;
      }
    }
  }
}
