page-order {
  $background_style: #dfb7b5;

  @mixin img-size($width, $height) {
    height: $height;
    width: $width;
  }

  %p-style {
    font-size: 24px;
    margin: 0;
  }

  %form-border {
    border: 2px solid #ddd;
  }

  ion-img {
    background: inherit;
  }

  .container {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 320px;
  }

  font-family: 'Source Sans Pro', sans-serif;

  ion-content {
    ion-grid {
      ion-row {
        ion-col {
          ion-grid {
            &.product-description-grid {
              p {
                margin: 0;
              }
              ion-row {
                ion-col {
                  .discount-text {
                    line-height: 30px;
                    font: {
                      size: 30px;
                    }
                  }
                  .product-description {
                    font-size: 32px;
                  }
                  ion-img {
                    &.coupon-img {
                      @include img-size(90px, 90px);
                    }
                    @media (max-width: 991px) {
                      &.coupon-img {
                        display: none;
                      }
                    }
                  }
                }
                &.color-bars {
                  font-size: 22px;
                  font-style: italic;
                  line-height: 22px;
                  ion-col {
                    margin: 8px 0;
                    color: #fff;
                    &.colored {
                      background-color: $background_style;
                    }
                    &.black {
                      background-color: #272727;
                    }
                    &.colored,
                    &.black {
                      p {
                        margin: 12px;
                      }
                    }
                  }
                }
                @media (max-width: 991px) {
                  &.color-bars {
                    display: none;
                  }
                }
              }
            }
            &.slider-header-grid {
              ion-row {
                &.delivery-section {
                  ion-col {
                    .delivery-info {
                      p {
                        @extend %p-style;
                      }
                    }
                    ion-img {
                      &.delivery-img {
                        @include img-size(99px, 80px);
                      }
                    }
                  }
                }
                @media (max-width: 991px) {
                  &.delivery-section {
                    display: none;
                  }
                }
                ion-col {
                  p {
                    @extend %p-style;
                    &.form-header {
                      color: #fff;
                      background-color: $background_style;
                      padding: 15px 5px 25px 5px;
                    }
                  }
                }
                &.form-navigation {
                  @extend %form-border;
                  padding: 5px 10px 0 10px;
                  border-top-left-radius: 3px;
                  border-top-right-radius: 3px;
                  border-bottom: 4px solid #ff7400;
                  background-image: linear-gradient(to bottom, #fff, #f3f3f3);
                  ion-col {
                    ion-row {
                      ion-col {
                        h5 {
                          font: {
                            size: 14px;
                            weight: 800;
                          }
                          margin-bottom: 0;
                          color: #616c83;
                          &.current-slide {
                            color: #ff7400;
                          }
                        }
                        h4 {
                          font-size: 27px;
                          font-weight: 700;
                          margin-bottom: 0;
                        }
                        p {
                          font-size: 11px;
                        }
                      }
                      &.orange-img {
                        ion-col {
                          img {
                            position: relative;
                            height: auto;
                            vertical-align: bottom;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            &.order-form-grid {
              & > ion-row {
                @extend %form-border;
                & > ion-col {
                  padding: 15px !important;
                  ion-slides {
                    ion-slide {
                      ion-row {
                        span {
                          &.privacy {
                            font-size: 12px;
                            color: #9c9c9c;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            &.slider-footer-grid {
              ion-row {
                ion-col {
                  p {
                    @extend %p-style;
                  }
                  &.header {
                    p {
                      background-color: #6ac8b3;
                      font-weight: 700;
                      padding: 10px;
                      color: #2f2f2f;
                    }
                  }
                }
                &.secure {
                  margin-top: 10px;
                  p {
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }
    ion-row {
      &.footer-row {
        background-color: #303030;
        color: #fff;
        font-size: 13px;
      }
    }
  }
}
