page-order {
  $background_style: #dfb7b5;

  @mixin img-size($width, $height) {
    height: $height;
    width: $width;
  }

  p {
    margin: 0;
  }

  ion-grid {
    ion-row {
      ion-col {
        .discount-text {
          line-height: 30px;
          font: {
            size: 30px;
          }
        }
        .delivery-info {
          p {
            font-size: 24px;
          }
        }
        .product-description {
          font-size: 32px;
        }
        ion-img {
          background: inherit;
          &.coupon-img {
            @include img-size(90px, 90px);
          }
          &.delivery-img {
            @include img-size(99px, 80px);
          }
          @media (max-width: 991px) {
            &.delivery-img,
            &.coupon-img {
              display: none;
            }
          }
        }
        ion-list {
          ion-item {
            .color-bar {
              background-color: $background_style;
            }
            .black-bar {
              background-color: #272727;
            }
          }
        }
        @media (max-width: 991px) {
          .delivery-info {
            display: none;
          }
        }
      }
      &.footer {
        background-color: #272727;
        color: #fff;
      }
    }
  }
}

// ion-img {
//   background: inherit;
// }
// .header-img {
//   background: inherit;
// }
// .text-underline {
//   text-decoration: underline;
// }
// .text-bold {
//   font-weight: 700;
// }
// .text-italic {
//   font-style: italic;
// }
// .text-normal {
//   font-weight: 400;
// }
// .header-right {
//   line-height: 1.8;
// }

// ion-item {
//   .text-offer {
//     font-size: 18px;
//     line-height: 1.5;
//   }

//   .text-protect {
//     color: #272727;
//   }
// }

// .privacy {
//   font-size: 10px;
// }

// .border {
//   border: 2px solid #e4e4e4;
//   border-radius: 2px;
// }

// .border-orange {
//   border-bottom-color: #e27b1f;
//   border-bottom-width: 3px;
// }

// .payments {
//   position: relative;
//   top: -15px;
//   .payments-img {
//     min-width: 15em;
//     min-height: 3em;
//   }
// }

// .bestseller-text {
//   line-height: 1.5;
// }

// .bestseller-img {
//   min-height: 37.5em;
//   min-width: 30em;
// }

// .describe {
//   font-size: 30px;
// }

// @media (max-width: 991px) {
//   .header-img,
//   .header-right {
//     display: none;
//   }

//   .bestseller-img {
//     min-width: 23em;
//     min-height: 23em;
//   }

//   .form-input {
//     font-size: 10px;
//   }

//   .bestseller-text {
//     font-size: 25px;
//   }
//   .btn-text {
//     font-size: 14px;
//   }

//   .privacy {
//     font-size: 8px;
//   }
//   .payments {
//     max-width: 23em;
//   }
//   // ion-hide-lg-down doesn't work
//   .describe {
//     display: none;
//   }
// }
