order-form {
  %input-select {
    background-color: #f1f1f1;
    font-size: 12px;
    height: 43px;
    border: 1px solid #ccc;
    margin: 0 8px;
  }
  form {
    padding: 15px;
    ion-input {
      @extend %input-select;
    }
    div {
      &.order-form-errors {
        min-height: 14px;
        p {
          min-height: 10px;
          margin: 2px 8px;
          font-size: 10px;
          line-height: 10px;
          font-weight: 700;
        }
      }
    }
    ion-row {
      &.divider {
        margin: 0 8px;
        ion-col {
          p {
            font-size: 12px;
            font-weight: 700;
            color: #626262;
          }
        }
      }
      ion-col {
        p {
          &.phone-info {
            margin: 0 8px;
            font-size: 12px;
          }
        }
      }
    }
    button {
      p {
        &.block {
          display: block;
        }
      }
    }
  }
}
