<ion-grid no-padding>
  <ion-list-header no-lines text-capitalize text-center>
    <ion-label>what our customers say</ion-label>
  </ion-list-header>
  <ion-list>
    <ion-row>
      <ion-col col-12 no-padding>
        <div>Denis</div>
        <ion-img src="assets/imgs/order-form/5outof5stars.png" width="100" height="25"></ion-img>
      </ion-col>
      <ion-col col-12 no-padding>
        <p>I purchased the 24/7 lip treatment. I'm in love!! At first, I didn't think it was doing anything but a few
          days later I
          noticed my lips seemed fuller. I use it in the morning and at night and once throughout the day. It really
          does what it
          says.</p>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-grid>