<ion-grid class="common-qa-grid" no-padding>
  <ion-row>
    <ion-col col-12>
      <ion-list-header no-lines text-capitalize text-center>
        <ion-label><u>common q&a</u></ion-label>
      </ion-list-header>
      <ion-list>
        <ion-row>
          <ion-col col-12 no-padding>
            <ion-icon name="help-circle" slot="start"></ion-icon>
            <span>Where is it made?</span>
          </ion-col>
          <ion-col col-12 no-padding>
            <p>The product is made in the USA</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 no-padding>
            <ion-icon name="help-circle" slot="start"></ion-icon>
            <span>Where is it made?</span>
          </ion-col>
          <ion-col col-12 no-padding>
            <p>The product is made in the USA</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 no-padding>
            <ion-icon name="help-circle" slot="start"></ion-icon>
            <span>Where is it made?</span>
          </ion-col>
          <ion-col col-12 no-padding>
            <p>The product is made in the USA</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 no-padding>
            <ion-icon name="help-circle" slot="start"></ion-icon>
            <span>Where is it made?</span>
          </ion-col>
          <ion-col col-12 no-padding>
            <p>The product is made in the USA</p>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>